<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="infocefetcontagem.cartilhacefetcontagem">

    <application
        android:allowBackup="true"
        android:icon="@drawable/school"
        android:label="@string/app_name"
        android:roundIcon="@drawable/school"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SliderImageActivity"></activity>
        <activity
            android:name=".CDEActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" />
        <activity
            android:name=".TelaInicial"
            android:theme="@style/AppCompat.TelaCheia">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>